<%- include('../template/admin_header') %>
<%- include('../template/admin_navbar') %>

<div class="container mt-3">
  <a href="add_page" class="btn btn-sm btn-outline-success mb-2">Add Pages</a>
  <table class="table">
    <thead class="black white-text">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nama Page</th>
        <th scope="col">URL/Link</th>
        <th scope="col">Content</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>

<%- include('../template/admin_footer') %>